/***********/
/* CONTACT */
/***********/

#contact {
  background: #f4f4f4;
  padding: 2rem 8vw 3rem 8vw;
  text-align: center;
  color: #000;
}

#contact > * {
  margin: 1rem;
}

#contact h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__item {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  min-width: 8rem;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
}

.cards__item:hover {
  background: #eee;
}

.cards .fas {
  color: #1473e6;
  font-size: 1.5rem;
}

.cards__name {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
}
