/***********/
/* CONTACT */
/***********/

.contact {
  background: #f4f4f4;
  text-align: center;
  color: #000;
}

.contact__heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__item {
  padding: 1rem;
  min-width: 8rem;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
}

.contact__item:hover {
  background: #eee; 
}

.contact__icon {
  color: #1473e6;
  font-size: 1.5rem;
}

.contact__name {
  display: block;
  font-weight: 900;
  line-height: 1;
}
