/************/
/* DOWNLOAD */
/************/

.download {
  background: linear-gradient(-45deg, #7af2a6 0.5%, #51b4cf 35%, #1473e6);
  align-items: stretch;
  text-align: center;
}

.download__heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.download__icon {
  font-size: 4rem;
}

.download__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.download__link {
  color: inherit;
}

.download__link:hover {
  color: #7af2a6;
}

@media only screen and (min-width: 840px) {
  .download {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 1rem 5rem;
    align-items: center;
    justify-content: center;
    text-align: initial;
  }

  .download__icon {
    grid-row: 1 / span 4;
  }

  .download__list {
    flex-direction: row;
  }
}
