/************/
/* DOWNLOAD */
/************/

.download {
  background: linear-gradient(-45deg, #7af2a6 0.5%, #51b4cf 35%, #1473e6);
  padding: 2rem 8vw 3rem 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem 5rem;
}

.download__heading {
  font-size: 1.5rem;
  font-weight: 900;
}

.download__icon {
  font-size: 5rem;
}

.download__list {
  display: flex;
  gap: 1rem;
}

.download__content > * {
  margin: 1rem;
}

.download__link {
  color: inherit;
}

.download__link:hover {
  color: #7af2a6;
}

@media only screen and (max-width: 840px) {
  .download {
    flex-direction: column;
    text-align: center;
  }

  .download__icon {
    font-size: 3rem;
  }

  .download__list {
    flex-direction: column;
  }
}
