/************/
/* FEATURES */
/************/

#features {
  --icon-color: #56c7df;
  --animation-duration: 0.25s;

  --page-width: 72rem;
  --page-split-point: 30rem;
  --page-gap: 8rem;
  --placement-width: var(--page-split-point);
  --placement-reversed: unset;
  --image-frame-top: 0;
  --image-frame-left: var(--page-split-point);
  --image-frame-right: 0;
  --image-frame-height: 100%;
}

#features h2 {
  grid-column: 1 / span 2;
  font-size: 2.5rem;
  font-weight: 600;
}

#features h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
}

#features .page {
  position: relative;
  max-width: var(--page-width);
  margin: var(--page-gap) auto;
}

#features .page:nth-of-type(1) {
  margin-top: calc(var(--page-gap) - 4rem);
}

#features .page:nth-last-of-type(even) {
  --image-frame-left: 0;
  --image-frame-right: var(--page-split-point);
  --placement-reversed: auto;
}

#features .placement {
  display: grid;
  grid-template-columns: 0.3rem 1fr;
  gap: 2rem 1rem;
  max-width: var(--placement-width);
  padding: 0 2rem;
  margin-left: var(--placement-reversed);
}

#features .image_frame {
  position: absolute;
  top: var(--image-frame-top);
  left: var(--image-frame-left);
  right: var(--image-frame-right);
  height: var(--image-frame-height);
  padding: 2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.25);
}

#features img {
  width: 100%;
  height: auto;
}

#features p {
  color: #bbbbbb;
  padding-bottom: 1rem;
}

#features .scroll_track {
  background: rgb(68, 68, 68);
  border-radius: 0.15rem;
}

#features .scroll_thumb {
  border-radius: inherit;
  transition-property: transform, height;
  transition-duration: var(--animation-duration);
  background: var(--icon-color);
}

/* ACCORDION COMPONENT */

.accordion__control {
  text-align: start;
  display: flex;
  width: 100%;
  align-items: center;
  transition: color var(--animation-duration);
}

.accordion__icon {
  flex: 0 0 3rem;
  fill: var(--icon-color);
  margin-right: 1rem;
  transition: fill var(--animation-duration);
}

.accordion__control[aria-expanded="false"] {
  --icon-color: #666666;
  color: #bbbbbb;
}

.accordion [role="region"] {
  overflow: hidden;
  transition-property: opacity, max-height;
  transition-duration: var(--animation-duration);
}

/* BREAKPOINTS */

@media only screen and (max-width: 80rem) {
  #features {
    --page-width: 30rem;
    --page-gap: 20rem;
    --image-frame-top: -12rem;
    --image-frame-left: 0;
    --image-frame-right: 0;
    --image-frame-height: 10rem;
    --placement-width: 100%;
    --placement-reversed: unset;
  }

  #features h2 {
    text-align: center;
  }

  #features .page:nth-last-of-type(even) {
    --image-frame-right: 0;
    --placement-reversed: unset;
  }
}

@media only screen and (max-width: 36rem) {
  #features .image_frame {
    position: static;
  }

  #features .placement {
    padding: 0 1rem;
  }
}
