/**********/
/* HEADER */
/**********/

header {
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
  font-weight: bold;
  font-size: 30px;
  color: #fafcfd;
  display: flex;
  align-items: center;
}

header img {
  width: 2.5rem;
  margin-right: 1rem;
}

header h1 {
  line-height: 1;
  padding-top: 0.25rem;
  font-size: inherit;
}

@media (max-width: 1100px) {
  header {
    justify-content: center;
  }
}
