/****************/
/* INTRODUCTION */
/****************/

.introduction {
  display: flex;
  justify-content: center;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.2);
}

.introduction__content {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0 2rem 4rem 2rem;
  gap: 4rem 2rem;
}

.introduction__picture {
  grid-row: 1 / span 3;
  grid-column: 2;
}

.introduction__heading {
  font-size: 3rem;
  font-weight: 900;
}

.introduction__heading_strong {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.25;
  background: linear-gradient(to right, rgb(77, 128, 224), rgb(22, 255, 146));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.introduction__text {
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.2rem;
  font-weight: 300;
}

.introduction__actions {
  display: flex;
  align-items: center;
}

.introduction__play {
  font-size: 0.5rem;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 1.5rem;
  color: #f5f5f5;
  transition: all 0.25s ease;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction__play:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgb(34, 255, 163);
  text-shadow: 0px 0px 10px rgb(56, 255, 162);
}

.introduction img {
  width: 100%;
  height: auto;
}

.introduction::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 35%;
  z-index: -1;
  width: 800px;
  height: 800px;
  border-radius: 25rem;
  background: radial-gradient(
      105.68% 45.69% at 92.95% 50%,
      rgba(105, 244, 253, 0.5) 0%,
      rgba(160, 255, 244, 0.095) 53.91%,
      rgba(254, 216, 255, 0) 100%
    ),
    radial-gradient(
      103.18% 103.18% at 90.11% 102.39%,
      #c9fff2 0%,
      rgba(230, 255, 250, 0) 100%
    ),
    radial-gradient(
      90.45% 90.45% at 87.84% 9.55%,
      #ffd2f5 0%,
      rgba(254, 219, 246, 0) 100%
    ),
    linear-gradient(
      135.66deg,
      rgba(203, 185, 255, 0.8) 14.89%,
      rgba(216, 202, 254, 0) 74.33%
    );
  background-blend-mode: normal, normal, normal, normal, normal, normal;
  filter: blur(150px);
  opacity: 0.5;
}

/* --------------- */

@media (max-width: 1100px) {
  .introduction__content {
    max-width: 30rem;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    text-align: center;
  }

  .introduction__picture {
    grid-column: auto;
    grid-row: auto;
  }
}
