/*********************************/

/*             SETUP             */

/*********************************/

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), url(../fonts/Lato/Lato-Regular.woff) format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-display: swap;
  src: local("Lato Bold"), url(../fonts/Lato/Lato-Bold.woff) format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), url(../fonts/Lato/Lato-Black.woff) format("woff");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #1e1d1e;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*********************************/

/*            GENERAL            */

/*********************************/

/* TYPOGRAPHY */

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

a {
  color: #1473e6;
  font-weight: 600;
  text-underline-offset: 0.125rem;
}

a:hover {
  color: #489aff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

button {
  background: inherit;
  border: none;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 4rem 1rem;
}

/* COMPONENTS */

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
}

[class^="button"] {
  font-size: 0.875rem;
  padding: 0.8rem 3.2rem;
  border-radius: 2rem;
  text-decoration: none;
  text-align: center;
}

.button {
  font-weight: 600;
  color: #1473e6;
  background: #fff;
  box-shadow: 0 0 0 0.125rem #fff inset;
}

.button:hover {
  color: #fff;
  background: transparent;
}

.button_strong {
  color: #fff;
  transition: background 0.25s ease;
  background: linear-gradient(to right, rgb(77, 128, 224), rgb(22, 255, 146));
}

.button_strong:hover {
  color: #fff;
  background: #0c65d3;
}

@media only screen and (min-width: 80rem) {
  section {
    padding: 4rem 2rem;
  }
}
