/*********************************/

/*             SETUP             */

/*********************************/

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"),
    url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-display: swap;
  src: local("Lato Bold"), url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), url(../fonts/Lato/Lato-Black.ttf) format("truetype");
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #444;
  background-color: #1e1d1e;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*********************************/

/*            GENERAL            */

/*********************************/

/* TYPOGRAPHY */

p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  color: #1473e6;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-underline-offset: 0.125rem;
}
a:hover {
  color: #489aff;
}
a.alt:hover {
  color: #7af2a6;
}
a.stdBtn,
a.card,
header a,
footer a {
  text-decoration: none;
}

.alt {
  color: #fff;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 900;
  color: #000;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
h1 {
  color: rgba(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h5 {
  color: rgba(255, 255, 255, 0.74);
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

/* COMPONENTS */

.stdBtn {
  font-size: 0.875rem;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.8rem 3.2rem;
  border-radius: 2rem;
  outline: none;

  transition: background 0.25s ease;
}
.stdBtn.strong {
  color: #fff;
  background: linear-gradient(to right, rgb(77, 128, 224), rgb(22, 255, 146));
}
.stdBtn.alt {
  font-weight: 600;
  color: #1473e6;
  background: #fff;
  border: 0.125rem solid #fff;
  transition: none;
}
.stdBtn.strong:hover {
  background: #0c65d3;
}
.stdBtn.alt:hover {
  color: #fff;
  background: transparent;
}

.stdMargin {
  margin: 1rem;
}

.bgGrad {
  background: linear-gradient(
    -45deg,
    #7af2a6 0.5%,
    #51b4cf 35%,
    #1473e6
  ) !important;
}
